*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.todo-section{
    width: 40%;
    height: 250px;
    background-color:  rgba(0,0,0,0.3);
    margin: 100px auto 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-section h2{
    color: black;
    display: flex;
    align-items: center;
    }

#imgTodo{
    height: 23px;
    margin-left: 15px;
}

.input-section{
    align-items: center;
    height: 50px;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 0px;
}

input{
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 18px;
    margin-bottom: 0px;
}

#add-btn {
    border: none;
    outline: none;
    padding: 10px;
    float: right;
    margin: 0 10px; 
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    cursor: pointer;
    color: gray;
    background-color: rgb(236, 233, 233);
    transition: all 0.3s;
}

#add-btn:hover{
    background-color:  rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    transition: all 0.3s;
}