*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.todo-section{
    width: 50%;
    background-color:  rgba(0,0,0,0.3);
    margin: 100px auto 10px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-section h1{
    color: black;
    display: flex;
    align-items: center;
    margin: 30px;
    padding-top: 40px;
}

#imgTodo{
    height: 30px;
    margin-left: 20px;
}

.input-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 233, 233);
    border-radius: 30px;
    padding-left: 20px;
    margin: 30px;
    margin-bottom: 25px;
}